{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "babel-plugin-polyfill-corejs3",
      {
        "method": "usage-global",
        "version": "3.49"
      }
    ],
    "@babel/plugin-transform-class-properties"
  ]
}
