{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "es2022": true,
    "node": true
  },
  "globals": {
    "Alpine": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "semi": 2
  }
}
